services:
  postgres:
    image: postgres:16
    container_name: miroDB
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: miro
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: [ "postgres", "-c", "log_statement=all" ]
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d miro" ]
      interval: 5s
      timeout: 5s
      retries: 5
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - pgadmin_data:/var/lib/pgadmin
  app:
    build: .
    container_name: spring-miro-app
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/miro
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      JWT_SECRET_KEY: da28b1283d640af050588a0ccc8fdd373df07fd7f09e00673ddcfa613d65391bfaab59c078f351c09d74b66cec7167703c458a4b82a0b548902e3772bc01fe35b3187aa5992ccc8a438cb48063b7fd1e9c72644ad2455d3155a9f7ce85b0acc35873efa86a525b004c1ed503e4f7ecb8337bfbddfaa91944017cb33c46f927d008b5c0b8cbebf078d4cd45b4a5450caf7241c9d145cea48e0a65d87ffc6de3a0746d3ab8af819920c1cad31ad73c5400b99eead4084729e8a5578040d3105a7e4c50c23902a6ba617a73966257e5ad600129627388153ec9f6623efc8647e1eb67d4f991589a4c6cfefe9ac485f6ba3c6453e15e9b77699d028f45add24420b0
      SERVER_PORT: 8080
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data:
  pgadmin_data: